version: "3.9"

services:
  app:
    build: .
    container_name: my-yarn-app
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
    ports:
      - "3000:3000"
    restart: unless-stopped
